Usage/Web References/ExampleWS/Example.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCities">
        <s:complexType />
      </s:element>
      <s:element name="GetCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitiesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CustomAuthentication" type="tns:CustomAuthentication" />
      <s:complexType name="CustomAuthentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="AddCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddCityResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveCityResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitiesCustomAuthentication">
    <wsdl:part name="CustomAuthentication" element="tns:CustomAuthentication" />
  </wsdl:message>
  <wsdl:message name="AddCitySoapIn">
    <wsdl:part name="parameters" element="tns:AddCity" />
  </wsdl:message>
  <wsdl:message name="AddCitySoapOut">
    <wsdl:part name="parameters" element="tns:AddCityResponse" />
  </wsdl:message>
  <wsdl:message name="AddCityCustomAuthentication">
    <wsdl:part name="CustomAuthentication" element="tns:CustomAuthentication" />
  </wsdl:message>
  <wsdl:message name="RemoveCitySoapIn">
    <wsdl:part name="parameters" element="tns:RemoveCity" />
  </wsdl:message>
  <wsdl:message name="RemoveCitySoapOut">
    <wsdl:part name="parameters" element="tns:RemoveCityResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveCityCustomAuthentication">
    <wsdl:part name="CustomAuthentication" element="tns:CustomAuthentication" />
  </wsdl:message>
  <wsdl:portType name="ExampleSoap">
    <wsdl:operation name="GetCities">
      <wsdl:input message="tns:GetCitiesSoapIn" />
      <wsdl:output message="tns:GetCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCity">
      <wsdl:input message="tns:AddCitySoapIn" />
      <wsdl:output message="tns:AddCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCity">
      <wsdl:input message="tns:RemoveCitySoapIn" />
      <wsdl:output message="tns:RemoveCitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExampleSoap" type="tns:ExampleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCitiesCustomAuthentication" part="CustomAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCity">
      <soap:operation soapAction="http://tempuri.org/AddCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddCityCustomAuthentication" part="CustomAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCity">
      <soap:operation soapAction="http://tempuri.org/RemoveCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RemoveCityCustomAuthentication" part="CustomAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExampleSoap12" type="tns:ExampleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCities">
      <soap12:operation soapAction="http://tempuri.org/GetCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCitiesCustomAuthentication" part="CustomAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCity">
      <soap12:operation soapAction="http://tempuri.org/AddCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddCityCustomAuthentication" part="CustomAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCity">
      <soap12:operation soapAction="http://tempuri.org/RemoveCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RemoveCityCustomAuthentication" part="CustomAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Example">
    <wsdl:port name="ExampleSoap" binding="tns:ExampleSoap">
      <soap:address location="http://localhost:22524/Example.asmx" />
    </wsdl:port>
    <wsdl:port name="ExampleSoap12" binding="tns:ExampleSoap12">
      <soap12:address location="http://localhost:22524/Example.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>